.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr repeat(3, 1fr);
  grid-template-rows: 100px;
}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}
